body {
    display: flex;
    margin: 0;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    margin: 3vh 5vw 1vh 5vw;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-image {
    padding: 1vh 0 1vh 1vw;
}

.header-image img{
    width: 65%;
}

.header-text {
    padding: 1vh 1vw 1vh 0;
    font-size: 5vw;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 4vh 8vw;
    color: #6b6b6b;
}

.nav div {
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 1vh 5vw;
}

.news-image {
    display: block;
    position: relative;
}

.news-image img {
    max-width:100%;
    position: relative;
}

.news-image-text {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    height: 40%;
    margin: 0 1px;
    background-color: white;
    color: #6b6b6b;
    padding: 0 2vw;
}

.top-news {
    color: #6b6b6b;
    padding: 0 1vw;
}

.top-news p.border-bottom {
    padding: 0.4em;
}

.top-news-head {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.top-news-head p {
    flex: 1;
}

.text-align-right {
    text-align: right;
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-color: #f5e9e5;
}

@media only screen and (max-width: 629px) {
    .news-image-text {
        background-color: black;
        opacity: 0.9;
    }

    .news-image-text h1 {
        font-size: 1.2em;
    }

    .news-image-text h3 {
        font-size: 0.8em;
    }
}